
/*input box style end*/
.form-control {
 
    border-radius: 5px !important;
}

.form-control:focus {  
    border-color: rgb(0, 198, 238) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 .2rem rgba(0, 198, 238,.25)!important;
}

/*input box style end*/



 
/*side bar left bar color change*/
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a { 
    border-left: 3px solid #0085A1!important;
}